<html>

<head>
	<title>Pixi Hotwire</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<meta id="viewport" name="viewport"
		content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no, viewport-fit=cover" />
	<meta name="apple-mobile-web-app-capable" content="yes">

	<style>
		html,
		body {
			margin: 0;
			padding: 0;
		}

		#summary-content {
			background: #000000;
		}
		#pixi-content {
			background: #000000;
		}

		        .beholder-media {
            resize: horizontal;
            overflow: hidden;
        }

        .beholder-media-controls {
            display: flex;
            background: #c1c1c1;
            padding: 2px;
        }

        .beholder-media-control {
            margin: 0 5px;
            display: flex;
        }

        .beholder-media-control > i {
            height: min-content;
            margin: auto;
        }

        .beholder-media-control > .slider {
            margin: 0 auto;
            height: auto;
        }

        .beholder-media-control > span {
            display: inline-flex;
            align-items: center;
            font-size: 16px;
            justify-content: space-between;
            font-family: "Inconsolata; mono";
        }

		.beholder-timeline {
			display: flex;
		}

		.beholder-channel-controls {
			display: flex;
		}

		.beholder-channel-panel {
			resize: vertical;
			overflow: auto;
			display: flex;
			border-top: 1px solid #515151;
			border-right: 1px dashed #515151;
			box-sizing: border-box;
		}
		.beholder-channel-names {
			color: #515151;
			font-size: 12px;
		}
		.beholder-channel-buttons {
			display: flex;
			flex-direction: column;
			padding-left: 2px;
		}
		.beholder-channel-buttons > button {
			  width: 10px;
			  height: 10px;
			  padding: 0;
			  margin: 0;
			  font-family: monospace;
			  font-size: 8px;
			  line-height: 0;
			  border-radius: 0;
			}
		body {
			margin-top: 10px
		}
	</style>

</head>

<body>
	<noscript>Please enable JavaScript in your web browser to view this page.</noscript>
	<div id="controller" style="margin: auto; max-width: 1200px; border: solid black 1px;">
		<div id="container" style="width: 1000px"></div>
		<div id="example-table" style="width: 400px"></div>
	</div>
</body>

</html>