<html>

<head>
	<title>Pixi Hotwire</title>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href="https://unpkg.com/tabulator-tables@5.4.4/dist/css/tabulator.min.css" rel="stylesheet">
	<meta id="viewport" name="viewport"
		content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no, viewport-fit=cover" />
	<meta name="apple-mobile-web-app-capable" content="yes">

	<style>
		html,
		body {
			margin: 0;
			padding: 0;
		}

		#summary-content {
			background: #000000;
		}
		#pixi-content {
			background: #000000;
		}

		.beholder-table {
            resize: horizontal;
            overflow: hidden;
		}

		.beholder-media {
			width: 25%;
            resize: horizontal;
            overflow: hidden;
        }

        .beholder-media-controls {
            display: flex;
            background: #c1c1c1;
            padding: 2px;
        }

        .beholder-media-control {
            margin: 0 5px;
            display: flex;
        }

        .beholder-media-control > i {
            height: min-content;
            margin: auto;
        }

        .beholder-media-control > .slider {
            margin: 0 auto;
            height: auto;
        }

        .beholder-media-control > span {
            display: inline-flex;
            align-items: center;
            font-size: 16px;
            justify-content: space-between;
            font-family: "Inconsolata; mono";
        }

		.beholder-timeline {
			display: flex;
		}

		.beholder-channel-panel-container {
			display: flex;
			flex-direction: column;
		}
		.beholder-channel-controls {
			display: flex;
		}

		.beholder-ruler-panel {
			display: flex;
			border-top: 1px solid #515151;
			border-right: 1px dashed #515151;
			box-sizing: border-box;
		}
		.beholder-channel-panel {
			resize: vertical;
			overflow: hidden;
			display: flex;
			border-top: 1px solid #515151;
			border-right: 1px dashed #515151;
			box-sizing: border-box;
		}
		.beholder-channel-names {
			color: #515151;
			font-size: 12px;
		}
		.beholder-channel-buttons {
			display: flex;
			flex-direction: column;
			padding-left: 2px;
		}
		.beholder-channel-buttons > button {
			  width: 10px;
			  height: 10px;
			  padding: 0;
			  margin: 0;
			  font-family: monospace;
			  font-size: 8px;
			  line-height: 0;
			  border-radius: 0;
			}
		body {
			margin-top: 10px;
		}

		.tabulator-header-filter > input {
			height: 50% !important;
		}
	</style>

</head>

<body>
	<noscript>Please enable JavaScript in your web browser to view this page.</noscript>
	<div id="controller" style="margin: auto; max-width: 2000px; width: 90%; border: solid black 1px;">
	</div>
	<button id="download">save</button>
	<script>
		let controller;
		setTimeout(() => {
		const config = {
		    timeline: {
		        backgroundColor: 0x1e1e1e
		    }
		}


		fetch("./010326.json")
		    .then((response) => response.json())
		    .then((json) => {
				config.schema = json?.schema || {};
				controller = new beholder.Annotator(document.getElementById("controller"), json.timeline.startTime, json.timeline.endTime, config);
		        controller.readState(json);
				//json.timeline.channels.slice(0,2).forEach(c => controller.createChannel(c));
				//controller.media.readState(json.media);
		    });

		document.addEventListener("keypress", event => {
		    console.log(event.key);
			if (controller.textediting) return;
		    if (event.key === "z") {
		        controller.undo();
		    }
		    if (event.key === "y") {
		        controller.redo();
		    }
		    if (event.key === " ") {
		        event.preventDefault();
		        controller.playpause();
		    }
		    if (event.key === "Delete") {
				controller.deleteSelectedAnnotations();
		    }
		    if (event.key === "Escape") {
				controller.deselectAll();
		    }
		});
		document.addEventListener("keydown", event => {
			if (controller.textediting) return;
		    if (event.key === "ArrowRight") {
		        controller.stepForward();
		    }
		    if (event.key === "ArrowLeft") {
		        controller.stepForward();
		    }
			console.log(event.key);
		});
		document.querySelector("#download")?.addEventListener("click", (event) => {
		    const dataStr = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(controller.json()));
		    const dlAnchorElem = document.createElement("a");
		    dlAnchorElem.setAttribute("href",     dataStr     );
		    dlAnchorElem.setAttribute("download", "annotation.json");
		    dlAnchorElem.click();
		});
		}, 1000);

		</script>
</body>

</html>