html,
body {
	margin: 0;
	padding: 0;
}

.grid-panel {
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #999;

	height: fit-content;
}


.layout0 {
    grid-template-areas:
        "A B"
        "C C";
    grid-template-columns: minmax(auto, 0.5fr) minmax(0, 3fr);
    grid-template-rows: auto 1fr;
}

.layout1 {
    grid-template-areas:
        "A"
        "C";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

.layout2 {
    grid-template-areas:
        "A"
        "B"
        "C";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
}

		.layout3 {
		    grid-template-areas:
		        "A";
		    grid-template-columns: 1fr;
		    grid-template-rows: 1fr;
		}

		#summary-content {
			background: #000000;
		}
		#pixi-content {
			background: #000000;
		}

		.beholder-table {
            overflow: hidden;
			width: 100%;
		}

		.beholder-media {
			width: 25%;
			min-width: 500px;
            resize: horizontal;
            overflow: hidden;
        }

        .beholder-media-controls {
            display: flex;
            background: #c1c1c1;
            padding: 2px;
        }

        .beholder-media-control {
            margin: 0 5px;
            display: flex;
        }

        .beholder-media-control > i {
            height: min-content;
            margin: auto;
        }

        .beholder-media-control > .slider {
            margin: 0 auto;
            height: auto;
			width: 50px;
        }

        .beholder-media-control > span {
            display: inline-flex;
            align-items: center;
            font-size: 16px;
            justify-content: space-between;
            font-family: "Inconsolata; mono";
        }

		.beholder-timeline {
			display: flex;
		}

		.beholder-channel-panel-container {
			display: flex;
			flex-direction: column;
		}
		.beholder-channel-controls {
			display: flex;
		}
		.beholder-summary-panel {
			display: flex;
			flex: auto;
		}
		.beholder-summary-panel .beholder-channel-buttons {
			padding: 5px;
		}
		.beholder-summary-panel-left {
			padding: 5px;
			width: 20px;
		}
		.beholder-summary-panel-right {
			padding: 10px;
			width: 100%;
		}
		.beholder-summary-panel-right input {
			width: 75px;
		}

		.beholder-ruler-panel {
			display: flex;
			border-top: 1px solid #515151;
			border-right: 1px dashed #515151;
			box-sizing: border-box;
		}
		.beholder-channel-panel {
			resize: vertical;
			overflow: hidden;
			display: flex;
			border-top: 1px solid #515151;
			border-right: 1px dashed #515151;
			box-sizing: border-box;
		}
		.beholder-channel-names {
			color: #515151;
			font-size: 12px;
		}
		.beholder-channel-buttons {
			display: flex;
			flex-direction: column;
			padding-left: 2px;
		}
		.beholder-channel-buttons > button {
			  width: 10px;
			  height: 10px;
			  padding: 0;
			  margin: 0;
			  font-family: monospace;
			  font-size: 8px;
			  line-height: 0;
			  border-radius: 0;
			}
		body {
			margin-top: 10px;
		}

		.tabulator-header-filter > input {
			height: 50% !important;
		}

		.tabulator {
			font-size: 12px;
		}